.blank-row {
    color:grey;
    height:auto;
    width:100%;
}
.blank-row a img {
    float:left;
}
.blank-row a h1 {
    float:right;
    font-weight: bold;
    color:#000;
}
.tabs {
    list-style-type: none;
    margin:0;
}
.tab {
    background: darkslategrey;
    color:#fff;
    border:1px groove black;
    transition: background 0.4s;
    padding:10px 0 5px 5px;
    border-radius: 15px 15px 0 0;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
.tab:hover{
    background: #dc0032;
}
.tab.active{
    background: #dc0032;
}
.tab-content{
    margin:0;
    height:500px;
    background: lightgray;
    border:1px groove black;
}
.xml-content {
    display:none;
}